@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(133deg, rgb(88, 40, 199) 0%, rgb(225, 148, 6) 65%, rgb(123, 88, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 40px;
    height: 10%;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 20px;
    color: rgba(240, 248, 255, 0.936);
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

.locals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 100%;
    color: aliceblue;
    gap: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 18px;
    background: linear-gradient(300deg, rgba(255, 255, 255, 0.661) 50%, rgba(42, 42, 42, 0.812) 20%, rgba(233, 233, 233, 0.406) 50%);
}


.btn-info {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    border-radius: 14px;
    transition: all 0.2s ease;
}

.btn-info i {
    font-size: 18px;
}

.btn-info:hover {
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.192);
}

.btns-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.fa-star {
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease-in;
}

.fa-star:hover {
    color: #5900ded8;
}

.fa-star.fa-solid {
    color: #5900ded8;
}

img {
    width: 100%;
    height: 50%;
    min-width: 150px;
    border-radius: 25px;
    cursor: pointer;
    transition: filter 0.2s ease-in;
}

.desc {
    display: none;
    font-size: 125%;
    font-weight: 500;
    text-align: justify;
    width: 95%;
    min-width: 170px;
    height: 20%;
    text-wrap: pretty;
    transition: all 0.2s ease-in;
    border: solid 2px aliceblue;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 599px) {
    .desc {
        font-size: 90%;
        width: 100%;
        height: auto;
        text-align: justify;
    }

    header a {
        font-size: 13px;
    }
}

.active {
    display: flex;
    filter: drop-shadow(0px 5px 4px rgb(0, 0, 0));
}

img:hover {
    filter: contrast(110%);
}


header {
    width: 98%;
    height: 5vh;
    top: 0;
    margin: 15px 18px 0px 18px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
}

.contact {
    display: flex;
    gap: 10px;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.538);
    font-size: 20px;
}

header a:hover {
    color: aliceblue;
}